@font-face {
  font-family: 'Myriad';
  src: url(../font/Myriad.otf); }
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Myriad', sans-serif;
  background-color: #e7e6e6; }

.header {
  display: block;
  width: 100%; }
  .header__topRow {
    display: block;
    width: 90%;
    height: 49px;
    padding: 0 5%;
    background-color: #34a853; }
    @media screen and (min-width: 767px) and (max-width: 1400px) {
      .header__topRow {
        height: auto; } }
    .header__topRow nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: 93%;
      height: inherit;
      margin: 0 auto;
      font-family: "Myriad Pro", sans-serif; }
      @media screen and (min-width: 1400px) and (max-width: 1919px) {
        .header__topRow nav {
          width: 100%; } }
      @media screen and (min-width: 767px) and (max-width: 1400px) {
        .header__topRow nav {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
      .header__topRow nav a {
        color: white;
        margin: 15px 25px;
        text-decoration: none;
        font-size: 15px; }
        @media screen and (min-width: 1400px) and (max-width: 1919px) {
          .header__topRow nav a {
            font-size: 0.8rem;
            margin: 15px auto; } }
        .header__topRow nav a:nth-child(1) {
          margin-left: 31px;
          margin-right: 22px; }
          @media screen and (min-width: 1400px) and (max-width: 1919px) {
            .header__topRow nav a:nth-child(1) {
              margin-left: auto;
              margin-right: auto; } }
          @media screen and (min-width: 767px) and (max-width: 1400px) {
            .header__topRow nav a:nth-child(1) {
              margin-left: 2.9%; } }
        .header__topRow nav a:nth-child(8) {
          min-width: 110px !important; }
        .header__topRow nav a:nth-child(12) {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          min-width: 140px !important;
          margin: 0 auto; }
          @media screen and (min-width: 1400px) and (max-width: 1919px) {
            .header__topRow nav a:nth-child(12) p {
              margin-top: 17px; } }
          @media screen and (min-width: 767px) and (max-width: 1400px) {
            .header__topRow nav a:nth-child(12) {
              margin: 0 1%; } }
          .header__topRow nav a:nth-child(12) img {
            width: auto;
            height: auto;
            margin: auto 0;
            margin-right: 7px; }
        .header__topRow nav a:nth-child(13) {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          min-width: 140px !important;
          margin: auto 0 auto 13px; }
        .header__topRow nav a img {
          width: auto;
          height: auto;
          margin: auto 0; }
      .header__topRow nav span {
        display: inline-block;
        color: #67be7e;
        font-size: 28px;
        margin: auto 0; }
        @media screen and (min-width: 767px) and (max-width: 1400px) {
          .header__topRow nav span {
            display: none; } }
  .header__middleRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 81%;
    padding: 0 9.5%;
    background-color: #e7e6e6; }
    @media screen and (min-width: 1400px) and (max-width: 1919px) {
      .header__middleRow {
        width: 88.8%;
        padding: 0 5.6%; } }
    .header__middleRow a {
      width: 40px;
      height: 40px;
      margin: 12px 5px; }
      .header__middleRow a img {
        display: inline-block;
        width: inherit;
        height: inherit; }
    .header__middleRow p {
      font-size: 33px;
      margin: auto 5.8% auto 0; }
    .header__middleRow select {
      display: inline-block;
      width: 64px;
      height: 35px;
      padding: 0 5px;
      margin: 13px auto;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: none;
      background-color: #f1f1f1;
      outline: none; }
      .header__middleRow select:focus {
        width: auto; }
    .header__middleRow input {
      width: 92%;
      height: 33px;
      border: none;
      outline: none;
      margin: 13px auto; }
      @media screen and (min-width: 1400px) and (max-width: 1919px) {
        .header__middleRow input {
          width: 77%; } }
    .header__middleRow button {
      background-color: #faad3d;
      width: 79px;
      height: 35px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: none;
      outline: none;
      margin: 13px auto; }
      .header__middleRow button img {
        width: 20px;
        height: 22px;
        margin: 20% auto; }
    .header__middleRow_providers {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      width: auto;
      height: auto;
      margin: 12px 2.4% auto 46px; }
      .header__middleRow_providers p {
        width: 100px;
        font-size: 14px;
        padding: 3px 0 0 2px;
        margin-right: -3px; }
      .header__middleRow_providers img[src="img/portalpostavschikovHOVER.png"] {
        display: none; }
      .header__middleRow_providers:hover img[src="img/portalpostavschikov.png"] {
        display: none; }
      .header__middleRow_providers:hover img[src="img/portalpostavschikovHOVER.png"] {
        display: block; }
      .header__middleRow_providers img {
        width: 35px;
        height: 35px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        margin: 0 3px; }
    .header__middleRow_cart {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 220px; }
      .header__middleRow_cart div:nth-child(1) {
        display: block;
        width: 32%;
        margin: auto 0; }
        .header__middleRow_cart div:nth-child(1) p {
          font-size: 13px;
          text-align: center;
          color: #faad3d;
          font-weight: bold; }
        .header__middleRow_cart div:nth-child(1) img {
          margin-top: -3px;
          margin-bottom: 4px; }
      .header__middleRow_cart div:nth-child(2) {
        display: block;
        width: 75%;
        text-align: left;
        margin: auto 0 auto 5px; }
        .header__middleRow_cart div:nth-child(2) p {
          margin-left: 3px;
          font-size: 13px;
          font-weight: bold; }
        .header__middleRow_cart div:nth-child(2) span {
          font-weight: bold;
          margin-left: 3px;
          font-size: 14px; }
  .header__bottomRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    background-color: white; }
    @media screen and (min-width: 1400px) and (max-width: 1919px) {
      .header__bottomRow {
        width: 88.8%;
        padding: 0 5.6%; } }
    @media screen and (min-width: 767px) and (max-width: 1400px) {
      .header__bottomRow {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .header__bottomRow figure {
      display: inline-block;
      width: auto;
      margin: 9px 34px 0 34px;
      text-align: center; }
      @media screen and (min-width: 1400px) and (max-width: 1919px) {
        .header__bottomRow figure {
          margin: 9px .5% 0 .5%; } }
      .header__bottomRow figure:nth-child(1) {
        margin-left: 9.5%; }
        @media screen and (min-width: 1400px) and (max-width: 1919px) {
          .header__bottomRow figure:nth-child(1) {
            margin-left: 0;
            margin-right: 2.2%; } }
      .header__bottomRow figure:nth-child(n+3) {
        margin-left: 0;
        margin-right: 26px; }
        @media screen and (min-width: 1400px) and (max-width: 1919px) {
          .header__bottomRow figure:nth-child(n+3) {
            margin-right: 1%;
            margin-left: 1.25%; } }
      .header__bottomRow figure:nth-child(4) {
        margin-right: 23px; }
      .header__bottomRow figure:nth-child(5) {
        margin-right: 32px; }
      .header__bottomRow figure:nth-child(6) {
        margin-right: 45px; }
      .header__bottomRow figure:nth-child(7) {
        margin-right: 52px; }
      .header__bottomRow figure:nth-child(8) {
        margin-right: 62px; }
      .header__bottomRow figure:nth-child(9) {
        margin-right: 49px; }
      .header__bottomRow figure figcaption {
        font-weight: bold;
        font-size: 15px;
        letter-spacing: .6px;
        margin-bottom: 15px; }
        @media screen and (min-width: 1400px) and (max-width: 1919px) {
          .header__bottomRow figure figcaption {
            font-size: 0.7rem; } }
      .header__bottomRow figure img {
        width: 57px;
        height: 57px; }

.offer {
  display: block;
  width: 100%;
  margin: 17px 0; }
  .offer__rowWraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    height: 475px;
    margin: 0 auto; }
    @media screen and (min-width: 1024px) and (max-width: 1919px) {
      .offer__rowWraper {
        width: 82.3%; } }
    .offer__rowWraper_left {
      display: block;
      width: 305px;
      height: auto;
      text-align: center;
      margin-left: 11px;
      background-color: white; }
      @media screen and (min-width: 1024px) and (max-width: 1919px) {
        .offer__rowWraper_left {
          width: 20%; } }
      .offer__rowWraper_left ul {
        width: 100%;
        list-style: none;
        text-align: left;
        margin: 0;
        padding: 0; }
        .offer__rowWraper_left ul li {
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          margin: 10px 0 8px 0;
          padding: 0 0 15px 28px;
          border-bottom: .5px solid #ededed; }
          @media screen and (min-width: 1024px) and (max-width: 1919px) {
            .offer__rowWraper_left ul li {
              font-size: 0.85rem; } }
          .offer__rowWraper_left ul li:nth-child(1) {
            color: #faad3d;
            border: none;
            margin: 28px auto 23px 28px;
            font-size: 24px;
            padding: 0; }
            @media screen and (min-width: 1024px) and (max-width: 1919px) {
              .offer__rowWraper_left ul li:nth-child(1) {
                font-size: 1.2rem; } }
          .offer__rowWraper_left ul li:last-child {
            border-bottom: 0; }
            @media screen and (min-width: 1024px) and (max-width: 1919px) {
              .offer__rowWraper_left ul li:last-child {
                margin-top: 10.5%; } }
          .offer__rowWraper_left ul li span {
            float: right;
            color: #cecece;
            margin-right: 22px; }
    .offer__rowWraper_center {
      display: block;
      width: 902px;
      background-color: #282828;
      color: white;
      margin: 0 20px;
      position: relative; }
      @media screen and (min-width: 1024px) and (max-width: 1919px) {
        .offer__rowWraper_center {
          width: 53%; } }
      @media screen and (max-width: 767px) {
        .offer__rowWraper_center {
          display: none; } }
      .offer__rowWraper_center .swiper-container {
        height: 475px; }
      .offer__rowWraper_center .slider__text {
        display: block;
        width: 48%;
        margin: 6.1% 0 0 67px; }
        @media screen and (min-width: 1024px) and (max-width: 1919px) {
          .offer__rowWraper_center .slider__text {
            width: 52%; } }
        .offer__rowWraper_center .slider__text h3 {
          font-size: 40px;
          margin-top: 62px;
          margin-bottom: 10px;
          font-weight: 100; }
          @media screen and (min-width: 1024px) and (max-width: 1919px) {
            .offer__rowWraper_center .slider__text h3 {
              font-size: 1.8rem; } }
          .offer__rowWraper_center .slider__text h3:nth-child(3) {
            margin-top: -16px; }
        .offer__rowWraper_center .slider__text p {
          margin: 14px 0 67px 1px;
          letter-spacing: 1.5px; }
          @media screen and (min-width: 1024px) and (max-width: 1919px) {
            .offer__rowWraper_center .slider__text p {
              margin-bottom: 22%; } }
      .offer__rowWraper_center img {
        position: absolute;
        top: 69px;
        right: 82px;
        float: right; }
      .offer__rowWraper_center a {
        display: inline-block;
        width: 129px;
        height: 35px;
        line-height: 35px;
        text-decoration: none;
        background-color: #faad3d;
        color: white;
        border-radius: 50px;
        text-align: center;
        font-size: 18px; }
    .offer__rowWraper_right {
      display: block;
      width: 264px;
      border: 2px solid #faad3d;
      padding: 0 0 0 31px;
      background-color: white; }
      @media screen and (min-width: 1024px) and (max-width: 1919px) {
        .offer__rowWraper_right {
          width: 20%; } }
      .offer__rowWraper_right img {
        margin-top: 217px;
        margin-left: -4px; }
      .offer__rowWraper_right a,
      .offer__rowWraper_right span {
        text-decoration: none;
        color: #faad3d; }
      .offer__rowWraper_right p {
        margin-top: 11px;
        letter-spacing: 1.5px;
        margin-left: -3px; }
      .offer__rowWraper_right h2 {
        margin-top: -16px;
        font-size: 38px;
        margin-left: -3px;
        font-weight: 100;
        letter-spacing: 1px;
        margin-bottom: 18px; }
        @media screen and (min-width: 1024px) and (max-width: 1919px) {
          .offer__rowWraper_right h2 {
            font-size: 2.1rem; } }
      .offer__rowWraper_right a {
        margin-left: -3px;
        font-size: 18px;
        letter-spacing: .3px; }
  .offer__brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 81.4%;
    height: 101px;
    margin: 21px 9.6%;
    background-color: white; }
    @media screen and (min-width: 1240px) and (max-width: 1919px) {
      .offer__brands {
        width: 81.4%;
        margin: 21px 9.75%; } }
    @media screen and (min-width: 767px) and (max-width: 1400px) {
      .offer__brands {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        height: auto; } }
    .offer__brands img {
      width: 145px;
      height: 34px;
      margin: 20px 0 20px 61px;
      padding: 15px 50px 15px 0;
      border-right: 2px solid #f5f5f5; }
      @media screen and (min-width: 1400px) and (max-width: 1919px) {
        .offer__brands img {
          width: 11%;
          margin-left: 2%;
          padding-right: 2%; } }
      .offer__brands img:nth-child(2) {
        width: 140px; }
      .offer__brands img:nth-child(3) {
        width: 135px;
        margin-left: 75px; }
        @media screen and (min-width: 1400px) and (max-width: 1919px) {
          .offer__brands img:nth-child(3) {
            margin-left: 3%; } }
      .offer__brands img:nth-child(4) {
        width: 135px;
        margin-left: 68px; }
        @media screen and (min-width: 1400px) and (max-width: 1919px) {
          .offer__brands img:nth-child(4) {
            width: 11%; } }
    .offer__brands a {
      margin: 39px auto auto 90px;
      font-size: 17px;
      letter-spacing: .4px;
      text-decoration: none;
      color: black; }
      @media screen and (min-width: 1400px) and (max-width: 1920px) {
        .offer__brands a {
          margin-left: 3%;
          margin-right: 5%; } }
  .offer__specRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 81.5%;
    margin: 0 9.5% 162px 9.5%; }
    @media screen and (min-width: 1400px) and (max-width: 1919px) {
      .offer__specRow {
        width: 81.4%;
        margin: 0 9.5% 162px 9.5%; } }
    .offer__specRow .specRow__left {
      display: block;
      width: 71%;
      height: 431px;
      background-color: white;
      margin-right: 20px; }
      .offer__specRow .specRow__left h4 {
        margin: 16px 0 16px 34px;
        font-size: 25px;
        font-weight: 100; }
      .offer__specRow .specRow__left .left__wraper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        width: 100%; }
        .offer__specRow .specRow__left .left__wraper figure {
          width: auto;
          border-top: 1px solid #e8e8e8;
          float: left;
          margin: 0;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          text-align: center;
          padding: 53px 95px 43px 95px; }
          @media screen and (min-width: 1400px) and (max-width: 1919px) {
            .offer__specRow .specRow__left .left__wraper figure {
              padding: 53px 8% 43px 8%; } }
          .offer__specRow .specRow__left .left__wraper figure:nth-child(1) {
            padding-left: 101px; }
            @media screen and (min-width: 1400px) and (max-width: 1919px) {
              .offer__specRow .specRow__left .left__wraper figure:nth-child(1) {
                padding-left: 9%; } }
          .offer__specRow .specRow__left .left__wraper figure:nth-child(2) {
            border-left: 1px solid #e8e8e8;
            border-right: 1px solid #e8e8e8;
            padding-left: 94px; }
          .offer__specRow .specRow__left .left__wraper figure figcaption {
            margin-top: 16px; }
            .offer__specRow .specRow__left .left__wraper figure figcaption img[alt="brand"] {
              width: 81px;
              height: 15px;
              margin-top: 4px; }
            .offer__specRow .specRow__left .left__wraper figure figcaption p {
              position: relative;
              left: -17px;
              margin: 6px auto -6px auto;
              width: 120%;
              text-align: center;
              font-size: 16px;
              letter-spacing: .3px;
              font-weight: 100; }
              .offer__specRow .specRow__left .left__wraper figure figcaption p:nth-child(3) {
                font-weight: bold;
                margin-bottom: 7px; }
    .offer__specRow .specRow__right {
      display: block;
      width: 455px;
      position: relative;
      z-index: 0; }
      @media screen and (min-width: 1400px) and (max-width: 1919px) {
        .offer__specRow .specRow__right {
          width: 28%; } }
      .offer__specRow .specRow__right .swiper-container {
        height: 431px; }
      .offer__specRow .specRow__right img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1; }
      .offer__specRow .specRow__right h4,
      .offer__specRow .specRow__right p {
        margin-left: 20px;
        color: white;
        position: relative;
        z-index: 1; }
      .offer__specRow .specRow__right .swiper-slide div {
        margin: 56% 0 auto 31px; }
        .offer__specRow .specRow__right .swiper-slide div h4 {
          font-size: 39px;
          font-weight: 100;
          letter-spacing: 0.5px;
          margin-bottom: 2px; }
        .offer__specRow .specRow__right .swiper-slide div p:nth-of-type(n) {
          font-size: 16px;
          margin-top: -5px;
          margin-bottom: 26px;
          letter-spacing: .4px; }
          .offer__specRow .specRow__right .swiper-slide div p:nth-of-type(n) a {
            text-decoration: none;
            color: white;
            margin-right: 5px; }

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #f3f1f1;
  padding-bottom: 20px; }
  .news .news__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 72.3%;
    margin: 0 auto; }
  .news__left {
    display: block;
    width: 35%;
    margin-right: 8.2%; }
    @media screen and (min-width: 1400px) and (max-width: 1919px) {
      .news__left {
        width: 70%;
        margin-right: 5%; }
        .news__left img {
          width: 100%; } }
    .news__left h3 {
      font-size: 40px;
      margin: 0 0 47px 0;
      font-weight: 100; }
      @media screen and (min-width: 1400px) and (max-width: 1919px) {
        .news__left h3 {
          font-size: 1.9rem;
          margin-bottom: 14%; } }
      @media screen and (max-width: 1506px) {
        .news__left h3 {
          font-size: 1.5rem;
          margin-bottom: 17%; } }
    .news__left h4 {
      font-size: 23px;
      margin-top: 10px;
      letter-spacing: 0.6px;
      margin-bottom: 19px; }
    .news__left p {
      margin-bottom: 81px;
      letter-spacing: 0.2px;
      margin-left: 1px; }
    .news__left a {
      width: 123px;
      height: 20px;
      padding: 5px 7.8%;
      text-decoration: none;
      border: .1em solid black;
      border-radius: 50px;
      letter-spacing: .5px; }
  .news__right div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 168px;
    margin: 43px auto; }
    .news__right div:first-child {
      margin-top: 12.2%; }
      @media screen and (min-width: 1400px) and (max-width: 1919px) {
        .news__right div:first-child {
          margin-top: 12.7%; } }
    .news__right div .item__text {
      display: block;
      width: 90%;
      margin: 0; }
      .news__right div .item__text .Abat__label-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        height: 20px;
        margin: -4px 0 0 10px; }
        .news__right div .item__text .Abat__label-right p {
          margin: 0;
          color: #34a853; }
        .news__right div .item__text .Abat__label-right span {
          margin-right: -25px;
          color: #777777; }
      .news__right div .item__text h4 {
        margin: 7px 0 0 10px;
        font-size: 26px;
        line-height: 26px;
        width: 120%;
        font-weight: 100; }
        @media screen and (min-width: 1400px) and (max-width: 1919px) {
          .news__right div .item__text h4 {
            font-size: 1.1rem; } }
      .news__right div .item__text h4,
      .news__right div .item__text p {
        margin-left: 10px; }
      .news__right div .item__text p:nth-child(3) {
        margin-top: 22px; }
        @media screen and (min-width: 1400px) and (max-width: 1919px) {
          .news__right div .item__text p:nth-child(3) {
            font-size: 0.8rem; } }
    .news__right div img {
      width: 190px;
      height: 168px;
      margin-right: 10px;
      float: left; }
      @media screen and (min-width: 1400px) and (max-width: 1919px) {
        .news__right div img {
          width: 29%;
          height: 100%; } }
  .news .Abat__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-top: 21px;
    margin-bottom: 0; }
    .news .Abat__label p {
      color: #34a853;
      margin: 0;
      letter-spacing: 1.2px; }
    .news .Abat__label span {
      color: #777777;
      margin-right: -5px; }

.recomends {
  display: block;
  width: 90%;
  padding: 0 5%;
  margin-bottom: 227px;
  background-color: #e8e8e8; }
  .recomends h4 {
    text-align: center;
    font-size: 39px;
    margin: 0;
    padding-top: 132px;
    margin-left: 27px;
    letter-spacing: 1px; }
  .recomends p:nth-child(2) {
    text-align: center;
    width: 39%;
    margin: 14px auto 65px 31.2%;
    letter-spacing: 0.5px; }
  .recomends__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    height: 484px;
    margin: auto; }
    .recomends__top div {
      display: block;
      width: 16.8%;
      background-color: #fff; }
      .recomends__top div:nth-child(1) {
        width: 45.9%;
        color: white;
        background-color: #282828;
        margin-left: 10.1%; }
        .recomends__top div:nth-child(1) img {
          margin-top: 6.3%; }
      .recomends__top div:nth-child(2) {
        margin: 0 .7%; }
      .recomends__top div:nth-child(2) h5,
      .recomends__top div:nth-child(2) h3,
      .recomends__top div:nth-child(2) p, .recomends__top div:nth-child(3) h5,
      .recomends__top div:nth-child(3) h3,
      .recomends__top div:nth-child(3) p {
        margin: 15px auto -19px 13px;
        text-align: center; }
      .recomends__top div:nth-child(2) img, .recomends__top div:nth-child(3) img {
        display: inline-block;
        text-align: center;
        width: 35.3%;
        height: 237px;
        margin: 18% 29% 0 30%; }
      .recomends__top div:nth-child(3) h5 {
        margin-left: -8px; }
      .recomends__top div:nth-child(3) h3 {
        margin-left: -11px; }
      .recomends__top div:nth-child(3) img {
        margin-left: 29.1%;
        margin-top: 12.5%;
        height: 52%;
        width: 34%; }
      .recomends__top div:nth-child(3) p[name='description'] {
        margin-top: 40px;
        width: 93%;
        letter-spacing: 0.4px;
        margin-left: 5px; }
      .recomends__top div h5 {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 100;
        margin-top: 17px;
        font-size: 23px;
        margin-bottom: 2px; }
      .recomends__top div h3 {
        margin-top: -1px;
        font-size: 28px;
        letter-spacing: 1.5px; }
      .recomends__top div p[name='description'] {
        margin-top: 40px;
        width: 93%;
        letter-spacing: 0.4px;
        margin-left: 13px; }
      .recomends__top div figure {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        width: 100%;
        height: 100%;
        margin: 0; }
        .recomends__top div figure figcaption {
          margin: 19.2% 0 auto 8.8%;
          text-align: left; }
          .recomends__top div figure figcaption p {
            margin-top: -5px;
            font-weight: 100;
            letter-spacing: .5px;
            width: 62%; }
  .recomends__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 745px; }
    .recomends__bottom .bottom__left {
      width: 37.2%;
      height: 100%;
      background-color: white;
      margin-top: 0.5%;
      margin-left: 10.1%; }
      @media screen and (min-width: 1400px) and (max-width: 1919px) {
        .recomends__bottom .bottom__left {
          height: 99.6%; } }
      .recomends__bottom .bottom__left figure {
        display: block;
        background-color: white;
        color: black;
        margin: 0;
        text-align: center; }
        .recomends__bottom .bottom__left figure img {
          display: inline-block;
          width: 426px;
          height: 478px;
          margin-left: 10px;
          margin-bottom: -4px; }
        .recomends__bottom .bottom__left figure figcaption {
          text-align: center; }
          .recomends__bottom .bottom__left figure figcaption h5 {
            text-transform: uppercase;
            margin-top: 64px;
            font-size: 20px;
            margin-left: -3px;
            margin-bottom: 0;
            letter-spacing: 0.7px; }
          .recomends__bottom .bottom__left figure figcaption h3 {
            margin-top: 0px;
            margin-bottom: 21px;
            font-size: 31px; }
          .recomends__bottom .bottom__left figure figcaption p {
            width: 48%;
            margin: auto auto 44px auto;
            letter-spacing: 0.6px; }
            @media screen and (min-width: 1400px) and (max-width: 1919px) {
              .recomends__bottom .bottom__left figure figcaption p {
                width: 70%;
                margin: auto auto 12.3% auto; } }
    .recomends__bottom .bottom__wraper {
      display: block;
      width: 58%;
      margin: 0.5% 0 1.1% 0.6%; }
      .recomends__bottom .bottom__wraper .wraper__item {
        width: 84%; }
        .recomends__bottom .bottom__wraper .wraper__item figure {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          width: 100%;
          margin: 0; }
          .recomends__bottom .bottom__wraper .wraper__item figure figcaption {
            text-align: left;
            margin-left: 8%;
            margin-top: 12%; }
            .recomends__bottom .bottom__wraper .wraper__item figure figcaption h5 {
              text-transform: uppercase;
              font-size: 18px;
              margin-top: 23px;
              margin-bottom: 0;
              letter-spacing: 1.3px;
              font-weight: 100; }
            .recomends__bottom .bottom__wraper .wraper__item figure figcaption h3 {
              width: 29%;
              font-size: 28px;
              margin-top: 3px;
              letter-spacing: 1.2px; }
            .recomends__bottom .bottom__wraper .wraper__item figure figcaption p {
              width: 73%;
              margin-top: -2px;
              letter-spacing: .5px; }
          .recomends__bottom .bottom__wraper .wraper__item figure img {
            height: 418px;
            float: left; }
        .recomends__bottom .bottom__wraper .wraper__item:nth-child(2) h5 {
          margin-top: -4px;
          margin-left: -4px;
          letter-spacing: 1.6px; }
        .recomends__bottom .bottom__wraper .wraper__item:nth-child(2) h3 {
          width: 86%;
          margin-left: -5px; }
        .recomends__bottom .bottom__wraper .wraper__item:nth-child(2) p {
          margin-top: -7px;
          margin-left: -5px;
          width: 82%; }
        .recomends__bottom .bottom__wraper .wraper__item:first-child {
          background-color: #282828;
          color: white;
          margin-bottom: 1.5%; }
        .recomends__bottom .bottom__wraper .wraper__item:last-child {
          background-color: white;
          height: 312px;
          overflow: hidden; }
          .recomends__bottom .bottom__wraper .wraper__item:last-child img {
            height: 374px;
            margin-right: -98px; }

.solutions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 72.5%;
  margin: 0 auto 135px auto; }
  .solutions__left {
    display: block;
    width: 60%;
    margin-right: auto; }
    .solutions__left h4 {
      font-size: 38px;
      margin-top: 0;
      margin-bottom: 18px;
      letter-spacing: 1px;
      width: 95%; }
      .solutions__left h4:nth-child(4) {
        margin-top: 26px;
        letter-spacing: 1.7px; }
    .solutions__left p {
      font-size: 18px;
      letter-spacing: 0.4px;
      margin-bottom: 0; }
      .solutions__left p:nth-child(3) {
        margin-top: -2px; }
      .solutions__left p:nth-child(5) {
        margin-bottom: 61px; }
    .solutions__left button {
      color: white;
      background-color: black;
      width: 50px;
      height: 50px;
      border: none;
      border-radius: 50%;
      font-size: 25px;
      font-weight: 100; }
      .solutions__left button:focus {
        outline: 0; }
  .solutions__right {
    display: block;
    width: 20%;
    margin: 4.2% 0;
    margin-right: 16px; }
    .solutions__right img {
      width: 150px;
      height: 150px; }
    .solutions__right h3,
    .solutions__right h5 {
      margin-top: 21px;
      margin-bottom: 2px; }
      .solutions__right h3:nth-child(2),
      .solutions__right h5:nth-child(2) {
        font-size: 40px; }
      .solutions__right h3:nth-child(4),
      .solutions__right h5:nth-child(4) {
        font-size: 28px;
        margin-top: 26px;
        font-weight: 100;
        letter-spacing: -2px; }
    .solutions__right p {
      margin-top: 0; }
      .solutions__right p:nth-child(3) {
        margin-top: -8px;
        letter-spacing: .4px; }
      .solutions__right p:nth-child(3), .solutions__right p:nth-child(5) {
        font-size: 16px;
        color: #8e8e8e; }
      .solutions__right p:nth-child(5) {
        margin-top: -4px;
        font-size: 19px; }
      .solutions__right p:nth-child(n+6) {
        margin: 0;
        font-size: 19px;
        letter-spacing: 0.2px; }

.ourClients {
  display: block;
  width: 84%;
  padding: 0 8%;
  background-color: white; }
  .ourClients h2 {
    font-size: 39px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: -10px;
    margin-left: 14px; }
  .ourClients .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 169px; }
    .ourClients .clients figure {
      width: 15%;
      height: 88px;
      margin: 0 0 126px 0;
      text-align: center; }
      .ourClients .clients figure img {
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        -webkit-transition: -webkit-filter .3s;
        transition: -webkit-filter .3s;
        transition: filter .3s;
        transition: filter .3s, -webkit-filter .3s;
        height: 88px; }
        .ourClients .clients figure img:hover {
          -webkit-filter: grayscale(0);
                  filter: grayscale(0);
          -webkit-transition: -webkit-filter .3s;
          transition: -webkit-filter .3s;
          transition: filter .3s;
          transition: filter .3s, -webkit-filter .3s; }
      .ourClients .clients figure:nth-child(6) img {
        margin-left: -13px; }
      .ourClients .clients figure:nth-child(7) img {
        width: 105px;
        height: 65px;
        margin-top: 25px;
        margin-bottom: 2px; }
      .ourClients .clients figure:nth-child(8) img {
        margin-bottom: 2px; }
      .ourClients .clients figure:nth-child(9) img {
        height: 101px;
        margin-top: -15px;
        margin-bottom: 2px; }
      .ourClients .clients figure:nth-child(10) img {
        width: 136px;
        height: 59px;
        margin-top: 10px;
        margin-left: -7px;
        margin-bottom: 21px; }
      .ourClients .clients figure:nth-child(11) img {
        width: 180px;
        height: 70px;
        margin-top: 18px; }
      .ourClients .clients figure:nth-child(12) img {
        width: 99px;
        height: 95px;
        margin-left: -9px;
        margin-bottom: -5px; }
      .ourClients .clients figure figcaption {
        margin: auto 0; }
        .ourClients .clients figure figcaption p {
          margin-top: 7px; }
    .ourClients .clients .clients__noLabel {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%;
      margin-bottom: 20px; }
      .ourClients .clients .clients__noLabel img {
        -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
        -webkit-transition: -webkit-filter .3s;
        transition: -webkit-filter .3s;
        transition: filter .3s;
        transition: filter .3s, -webkit-filter .3s;
        height: 88px; }
        .ourClients .clients .clients__noLabel img:nth-child(1) {
          width: 207px;
          height: 78px;
          margin-left: 20px; }
        .ourClients .clients .clients__noLabel img:nth-child(2) {
          margin-left: -28px;
          margin-top: -15px; }
        .ourClients .clients .clients__noLabel img:nth-child(3) {
          margin: -15px -34px 0 57px; }
        .ourClients .clients .clients__noLabel img:nth-child(4) {
          margin: -13px -7px 0 76px; }
        .ourClients .clients .clients__noLabel img:nth-child(5) {
          width: 139px;
          height: 62px;
          margin-top: 9px;
          margin-right: -14px; }
        .ourClients .clients .clients__noLabel img:nth-child(6) {
          margin-top: -16px;
          margin-right: 9px;
          margin-left: -10px; }
        .ourClients .clients .clients__noLabel img:hover {
          -webkit-filter: grayscale(0);
                  filter: grayscale(0);
          -webkit-transition: -webkit-filter .3s;
          transition: -webkit-filter .3s;
          transition: filter .3s;
          transition: filter .3s, -webkit-filter .3s; }

footer {
  display: block;
  width: 100%;
  background-color: #2e2e2e;
  color: white; }
  footer .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 72.4%;
    padding: 4% 13.8% 3.4% 13.8%; }
    footer .footer__top div {
      display: block;
      margin-right: 18.6%; }
      footer .footer__top div:nth-child(2) {
        margin-right: 17.4%; }
      footer .footer__top div:nth-child(3) {
        width: 25%;
        margin-right: 16.9%; }
        footer .footer__top div:nth-child(3) ul {
          width: 101%; }
          footer .footer__top div:nth-child(3) ul li {
            width: 103%;
            margin-right: 0; }
      footer .footer__top div:nth-child(4) ul li:first-child {
        margin-top: -9px;
        margin-bottom: -4px; }
      footer .footer__top div:nth-child(4) ul li:last-child {
        width: 145%;
        margin-top: -2px; }
      footer .footer__top div h3 {
        font-size: 25px;
        font-weight: 100;
        margin-top: 11px; }
      footer .footer__top div ul {
        list-style: none;
        padding: 0; }
        footer .footer__top div ul li {
          margin: 5px 0;
          color: white;
          letter-spacing: 0.4px; }
          footer .footer__top div ul li[atr="last"] {
            width: 112%;
            margin-top: -5px;
            margin-bottom: 19px; }
        footer .footer__top div ul a {
          text-decoration: none; }
  footer .footer__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 73%;
    padding: 0 13.5%;
    background-color: #1f1f1f; }
    footer .footer__bottom div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      padding: 42px 0; }
      footer .footer__bottom div img {
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 10px; }
    footer .footer__bottom div[name="footer__logo_text"] {
      display: block;
      width: auto;
      height: auto;
      margin: 5px 8px;
      padding: 0; }
      footer .footer__bottom div[name="footer__logo_text"] h5,
      footer .footer__bottom div[name="footer__logo_text"] p {
        margin: 0;
        line-height: 20px; }
        footer .footer__bottom div[name="footer__logo_text"] h5:nth-child(1),
        footer .footer__bottom div[name="footer__logo_text"] p:nth-child(1) {
          font-size: 24px;
          margin-top: -2px;
          margin-bottom: 0; }
        footer .footer__bottom div[name="footer__logo_text"] h5:nth-child(2),
        footer .footer__bottom div[name="footer__logo_text"] p:nth-child(2) {
          margin-top: 0;
          font-size: 17px;
          letter-spacing: 0.1px;
          color: #8e8e8e; }
    footer .footer__bottom p[atr="left"] {
      margin: 35px -7px 0 0;
      font-size: 19px; }

/*# sourceMappingURL=main.css.map */